In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
os.chdir("C:\\Users\\KOMAL\\Desktop\\data\\big mart sale")

In [3]:
train=pd.read_csv('train.csv')
train

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [4]:
test=pd.read_csv('test.csv')
test

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [5]:
master=pd.concat([train,test])
master

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.50,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1,NaN
5677,FDD47,7.60,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2,NaN
5678,NCO17,10.00,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN
5679,FDJ26,15.30,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1,NaN
5680,FDU37,9.50,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN

In [6]:
master=master.reset_index()

In [7]:
master=master.drop("index", axis=1)

In [8]:
master

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
14199,FDB58,10.50,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1,NaN
14200,FDD47,7.60,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2,NaN
14201,NCO17,10.00,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN
14202,FDJ26,15.30,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1,NaN
14203,FDU37,9.50,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN

In [9]:
newdf=master.loc[:,["Item_Identifier","Item_Weight"]]
newdf=newdf.reset_index()

In [10]:
newdf=newdf.drop("index", axis=1)

In [11]:
newdf

      Item_Identifier  Item_Weight
0               FDA15         9.30
1               DRC01         5.92
2               FDN15        17.50
3               FDX07        19.20
4               NCD19         8.93
...               ...          ...
14199           FDB58        10.50
14200           FDD47         7.60
14201           NCO17        10.00
14202           FDJ26        15.30
14203           FDU37         9.50

[14204 rows x 2 columns]

In [12]:

from sklearn.preprocessing import LabelEncoder


encoder = LabelEncoder()
#list of categorical variables

#1 column at a time

newdf["item_iden_no"]=encoder.fit_transform(newdf["Item_Identifier"])
newdf

      Item_Identifier  Item_Weight  item_iden_no
0               FDA15         9.30           156
1               DRC01         5.92             8
2               FDN15        17.50           662
3               FDX07        19.20          1121
4               NCD19         8.93          1297
...               ...          ...           ...
14199           FDB58        10.50           233
14200           FDD47         7.60           308
14201           NCO17        10.00          1426
14202           FDJ26        15.30           521
14203           FDU37         9.50           997

[14204 rows x 3 columns]

In [13]:
 newdf=newdf.drop("Item_Identifier", axis=1)
# #

In [14]:
newdf.isna().sum()

Item_Weight     2439
item_iden_no       0
dtype: int64

In [15]:
import numpy as np


from sklearn.impute import KNNImputer

imp = KNNImputer(n_neighbors=3)

#IterativeImputer
model=imp.fit_transform(newdf)

model

array([[   9.3 ,  156.  ],
       [   5.92,    8.  ],
       [  17.5 ,  662.  ],
       ...,
       [  10.  , 1426.  ],
       [  15.3 ,  521.  ],
       [   9.5 ,  997.  ]])

In [16]:
newdf=pd.DataFrame(model, columns=['Item_weights','item_iden'])

In [17]:
newdf

       Item_weights  item_iden
0              9.30      156.0
1              5.92        8.0
2             17.50      662.0
3             19.20     1121.0
4              8.93     1297.0
...             ...        ...
14199         10.50      233.0
14200          7.60      308.0
14201         10.00     1426.0
14202         15.30      521.0
14203          9.50      997.0

[14204 rows x 2 columns]

In [18]:
master=pd.concat([master,newdf], axis=1)

In [19]:
master

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_weights,item_iden
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,9.30,156.0
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,5.92,8.0
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,17.50,662.0
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,19.20,1121.0
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,8.93,1297.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14199,FDB58,10.50,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1,NaN,10.50,233.0
14200,FDD47,7.60,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2,NaN,7.60,308.0
14201,NCO17,10.00,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN,10.00,1426.0
14202,FDJ26,15.30,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1,NaN,15.30,521.0
14203,FDU37,9.50,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN,9.50,997.0

In [20]:
master[master.Outlet_Identifier=='OUT045']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_weights,item_iden
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986,16.200,440.0
33,FDO23,17.850,Low Fat,0.000000,Breads,93.1436,OUT045,2002,NaN,Tier 2,Supermarket Type1,2174.5028,17.850,706.0
46,NCP05,19.600,Low Fat,0.000000,Health and Hygiene,153.3024,OUT045,2002,NaN,Tier 2,Supermarket Type1,2428.8384,19.600,1438.0
47,FDV49,10.000,Low Fat,0.025880,Canned,265.2226,OUT045,2002,NaN,Tier 2,Supermarket Type1,5815.0972,10.000,1057.0
56,NCX54,9.195,Low Fat,0.048157,Household,106.1622,OUT045,2002,NaN,Tier 2,Supermarket Type1,2117.2440,9.195,1538.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14170,DRY23,9.395,Regular,0.109318,Soft Drinks,43.8112,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN,9.395,142.0
14172,DRH03,17.250,Low Fat,0.035135,Dairy,94.7120,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN,17.250,65.0
14175,FDP32,6.650,Low Fat,0.087847,Fruits and Vegetables,126.7678,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN,6.650,755.0
14201,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN,10.000,1426.0
14203,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN,9.500,997.0

In [21]:
master.Item_Fat_Content.value_counts()

Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64

In [23]:
master=master.drop(["Item_Identifier","Outlet_Size",'item_iden',"Item_Weight"], axis=1)

In [24]:
master

,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_weights
0,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Tier 1,Supermarket Type1,3735.1380,9.30
1,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Tier 3,Supermarket Type2,443.4228,5.92
2,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Tier 1,Supermarket Type1,2097.2700,17.50
3,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Tier 3,Grocery Store,732.3800,19.20
4,Low Fat,0.000000,Household,53.8614,OUT013,1987,Tier 3,Supermarket Type1,994.7052,8.93
...,...,...,...,...,...,...,...,...,...,...
14199,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Tier 1,Supermarket Type1,NaN,10.50
14200,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Tier 3,Supermarket Type2,NaN,7.60
14201,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,Tier 2,Supermarket Type1,NaN,10.00
14202,Regular,0.000000,Canned,214.6218,OUT017,2007,Tier 2,Supermarket Type1,NaN,15.30
14203,Regular,0.104720,Canned,79.7960,OUT045,2002,Tier 2,Supermarket Type1,NaN,9.50

In [25]:
master.isna().sum()

Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
Item_weights                    0
dtype: int64

In [26]:
y_df=master["Item_Outlet_Sales"]
y_df

0        3735.1380
1         443.4228
2        2097.2700
3         732.3800
4         994.7052
           ...
14199          NaN
14200          NaN
14201          NaN
14202          NaN
14203          NaN
Name: Item_Outlet_Sales, Length: 14204, dtype: float64

In [27]:
X_df=master.drop("Item_Outlet_Sales",axis=1)
X_df

,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type,Item_weights
0,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Tier 1,Supermarket Type1,9.30
1,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Tier 3,Supermarket Type2,5.92
2,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Tier 1,Supermarket Type1,17.50
3,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Tier 3,Grocery Store,19.20
4,Low Fat,0.000000,Household,53.8614,OUT013,1987,Tier 3,Supermarket Type1,8.93
...,...,...,...,...,...,...,...,...,...
14199,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Tier 1,Supermarket Type1,10.50
14200,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Tier 3,Supermarket Type2,7.60
14201,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,Tier 2,Supermarket Type1,10.00
14202,Regular,0.000000,Canned,214.6218,OUT017,2007,Tier 2,Supermarket Type1,15.30
14203,Regular,0.104720,Canned,79.7960,OUT045,2002,Tier 2,Supermarket Type1,9.50

In [28]:
X_df['current_year']= 2020

In [29]:
X_df['no_of_years']= X_df.current_year-X_df.Outlet_Establishment_Year

In [30]:
X_df

,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type,Item_weights,current_year,no_of_years
0,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Tier 1,Supermarket Type1,9.30,2020,21
1,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Tier 3,Supermarket Type2,5.92,2020,11
2,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Tier 1,Supermarket Type1,17.50,2020,21
3,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Tier 3,Grocery Store,19.20,2020,22
4,Low Fat,0.000000,Household,53.8614,OUT013,1987,Tier 3,Supermarket Type1,8.93,2020,33
...,...,...,...,...,...,...,...,...,...,...,...
14199,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Tier 1,Supermarket Type1,10.50,2020,23
14200,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Tier 3,Supermarket Type2,7.60,2020,11
14201,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,Tier 2,Supermarket Type1,10.00,2020,18
14202,Regular,0.000000,Canned,214.6218,OUT017,2007,Tier 2,Supermarket Type1,15.30,2020,13
14203,Regular,0.104720,Canned,79.7960,OUT045,2002,Tier 2,Supermarket Type1,9.50,2020,18

In [31]:
X_df=X_df.drop(["Outlet_Establishment_Year","current_year"],axis=1)

In [32]:
X_df

,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Location_Type,Outlet_Type,Item_weights,no_of_years
0,Low Fat,0.016047,Dairy,249.8092,OUT049,Tier 1,Supermarket Type1,9.30,21
1,Regular,0.019278,Soft Drinks,48.2692,OUT018,Tier 3,Supermarket Type2,5.92,11
2,Low Fat,0.016760,Meat,141.6180,OUT049,Tier 1,Supermarket Type1,17.50,21
3,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,Tier 3,Grocery Store,19.20,22
4,Low Fat,0.000000,Household,53.8614,OUT013,Tier 3,Supermarket Type1,8.93,33
...,...,...,...,...,...,...,...,...,...
14199,Regular,0.013496,Snack Foods,141.3154,OUT046,Tier 1,Supermarket Type1,10.50,23
14200,Regular,0.142991,Starchy Foods,169.1448,OUT018,Tier 3,Supermarket Type2,7.60,11
14201,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,Tier 2,Supermarket Type1,10.00,18
14202,Regular,0.000000,Canned,214.6218,OUT017,Tier 2,Supermarket Type1,15.30,13
14203,Regular,0.104720,Canned,79.7960,OUT045,Tier 2,Supermarket Type1,9.50,18

In [33]:
# Scaling
from sklearn.preprocessing import MinMaxScaler
mnx= MinMaxScaler()
new1=pd.DataFrame(mnx.fit_transform(X_df[["Item_Visibility","Item_MRP",'Item_weights',"no_of_years"]]),columns=["Item_Visibility1","Item_MRP1","Item_weights1","no_of_years1"])

new1

       Item_Visibility1  Item_MRP1  Item_weights1  no_of_years1
0              0.048866   0.927507       0.282525      0.416667
1              0.058705   0.072068       0.081274      0.000000
2              0.051037   0.468288       0.770765      0.416667
3              0.000000   0.640093       0.871986      0.458333
4              0.000000   0.095805       0.260494      0.916667
...                 ...        ...            ...           ...
14199          0.041099   0.467004       0.353974      0.500000
14200          0.435429   0.585126       0.181304      0.000000
14201          0.223906   0.371199       0.324204      0.291667
14202          0.000000   0.778154       0.639774      0.083333
14203          0.318889   0.205884       0.294433      0.291667

[14204 rows x 4 columns]

In [34]:
X_df=pd.concat([X_df,new1], axis=1)

In [35]:
X_df

,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Location_Type,Outlet_Type,Item_weights,no_of_years,Item_Visibility1,Item_MRP1,Item_weights1,no_of_years1
0,Low Fat,0.016047,Dairy,249.8092,OUT049,Tier 1,Supermarket Type1,9.30,21,0.048866,0.927507,0.282525,0.416667
1,Regular,0.019278,Soft Drinks,48.2692,OUT018,Tier 3,Supermarket Type2,5.92,11,0.058705,0.072068,0.081274,0.000000
2,Low Fat,0.016760,Meat,141.6180,OUT049,Tier 1,Supermarket Type1,17.50,21,0.051037,0.468288,0.770765,0.416667
3,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,Tier 3,Grocery Store,19.20,22,0.000000,0.640093,0.871986,0.458333
4,Low Fat,0.000000,Household,53.8614,OUT013,Tier 3,Supermarket Type1,8.93,33,0.000000,0.095805,0.260494,0.916667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14199,Regular,0.013496,Snack Foods,141.3154,OUT046,Tier 1,Supermarket Type1,10.50,23,0.041099,0.467004,0.353974,0.500000
14200,Regular,0.142991,Starchy Foods,169.1448,OUT018,Tier 3,Supermarket Type2,7.60,11,0.435429,0.585126,0.181304,0.000000
14201,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,Tier 2,Supermarket Type1,10.00,18,0.223906,0.371199,0.324204,0.291667
14202,Regular,0.000000,Canned,214.6218,OUT017,Tier 2,Supermarket Type1,15.30,13,0.000000,0.778154,0.639774,0.083333
14203,Regular,0.104720,Canned,79.7960,OUT045,Tier 2,Supermarket Type1,9.50,18,0.318889,0.205884,0.294433,0.291667

In [36]:
X_df=X_df.drop(["Item_Visibility","Item_MRP",'Item_weights',"no_of_years"],axis=1)
X_df

,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Location_Type,Outlet_Type,Item_Visibility1,Item_MRP1,Item_weights1,no_of_years1
0,Low Fat,Dairy,OUT049,Tier 1,Supermarket Type1,0.048866,0.927507,0.282525,0.416667
1,Regular,Soft Drinks,OUT018,Tier 3,Supermarket Type2,0.058705,0.072068,0.081274,0.000000
2,Low Fat,Meat,OUT049,Tier 1,Supermarket Type1,0.051037,0.468288,0.770765,0.416667
3,Regular,Fruits and Vegetables,OUT010,Tier 3,Grocery Store,0.000000,0.640093,0.871986,0.458333
4,Low Fat,Household,OUT013,Tier 3,Supermarket Type1,0.000000,0.095805,0.260494,0.916667
...,...,...,...,...,...,...,...,...,...
14199,Regular,Snack Foods,OUT046,Tier 1,Supermarket Type1,0.041099,0.467004,0.353974,0.500000
14200,Regular,Starchy Foods,OUT018,Tier 3,Supermarket Type2,0.435429,0.585126,0.181304,0.000000
14201,Low Fat,Health and Hygiene,OUT045,Tier 2,Supermarket Type1,0.223906,0.371199,0.324204,0.291667
14202,Regular,Canned,OUT017,Tier 2,Supermarket Type1,0.000000,0.778154,0.639774,0.083333
14203,Regular,Canned,OUT045,Tier 2,Supermarket Type1,0.318889,0.205884,0.294433,0.291667

In [53]:
X_df=pd.get_dummies(X_df,drop_first=True)
X_df

,Item_Visibility1,Item_MRP1,Item_weights1,no_of_years1,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,Item_Type_Baking Goods,...,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,0.048866,0.927507,0.282525,0.416667,0,1,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
1,0.058705,0.072068,0.081274,0.000000,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,0.051037,0.468288,0.770765,0.416667,0,1,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
3,0.000000,0.640093,0.871986,0.458333,0,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,0.000000,0.095805,0.260494,0.916667,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,0.172914,0.777729,0.137541,0.916667,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
8519,0.143069,0.326263,0.227746,0.291667,0,0,1,0,0,1,...,1,0,0,0,1,0,0,1,0,0
8520,0.107148,0.228492,0.359929,0.208333,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
8521,0.442219,0.304939,0.158083,0.000000,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
8522,0.136661,0.187510,0.610003,0.500000,0,1,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0

In [54]:
temp=X_df.loc[0:8522]
temp

,Item_Visibility1,Item_MRP1,Item_weights1,no_of_years1,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,Item_Type_Baking Goods,...,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,0.048866,0.927507,0.282525,0.416667,0,1,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
1,0.058705,0.072068,0.081274,0.000000,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,0.051037,0.468288,0.770765,0.416667,0,1,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
3,0.000000,0.640093,0.871986,0.458333,0,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,0.000000,0.095805,0.260494,0.916667,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,0.172914,0.777729,0.137541,0.916667,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
8519,0.143069,0.326263,0.227746,0.291667,0,0,1,0,0,1,...,1,0,0,0,1,0,0,1,0,0
8520,0.107148,0.228492,0.359929,0.208333,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
8521,0.442219,0.304939,0.158083,0.000000,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
8522,0.136661,0.187510,0.610003,0.500000,0,1,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0

In [55]:
real_test=X_df[8523:]
real_test

Empty DataFrame
Columns: [Item_Visibility1, Item_MRP1, Item_weights1, no_of_years1, Item_Fat_Content_LF, Item_Fat_Content_Low Fat, Item_Fat_Content_Regular, Item_Fat_Content_low fat, Item_Fat_Content_reg, Item_Type_Baking Goods, Item_Type_Breads, Item_Type_Breakfast, Item_Type_Canned, Item_Type_Dairy, Item_Type_Frozen Foods, Item_Type_Fruits and Vegetables, Item_Type_Hard Drinks, Item_Type_Health and Hygiene, Item_Type_Household, Item_Type_Meat, Item_Type_Others, Item_Type_Seafood, Item_Type_Snack Foods, Item_Type_Soft Drinks, Item_Type_Starchy Foods, Outlet_Identifier_OUT010, Outlet_Identifier_OUT013, Outlet_Identifier_OUT017, Outlet_Identifier_OUT018, Outlet_Identifier_OUT019, Outlet_Identifier_OUT027, Outlet_Identifier_OUT035, Outlet_Identifier_OUT045, Outlet_Identifier_OUT046, Outlet_Identifier_OUT049, Outlet_Location_Type_Tier 1, Outlet_Location_Type_Tier 2, Outlet_Location_Type_Tier 3, Outlet_Type_Grocery Store, Outlet_Type_Supermarket Type1, Outlet_Type_Supermarket Type2, Outlet_Type_Supermarket Type3]
Index: []

[0 rows x 42 columns]

In [56]:
X_df=temp

In [57]:
y_df=y_df.loc[0:8522]
y_df

0       3735.1380
1        443.4228
2       2097.2700
3        732.3800
4        994.7052
          ...
8518    2778.3834
8519     549.2850
8520    1193.1136
8521    1845.5976
8522     765.6700
Name: Item_Outlet_Sales, Length: 8523, dtype: float64

### KNN model

In [58]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X_df,y_df, test_size=0.2)

In [59]:
X_train

,Item_Visibility1,Item_MRP1,Item_weights1,no_of_years1,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,Item_Type_Baking Goods,...,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
6037,0.317478,0.011728,0.452218,0.458333,1,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4243,0.057646,0.119541,0.663590,0.500000,0,0,1,0,0,0,...,0,1,0,1,0,0,0,1,0,0
873,0.067841,0.302247,0.300387,0.500000,0,0,1,0,0,0,...,0,1,0,1,0,0,0,1,0,0
8430,0.047845,0.639099,0.889848,0.916667,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
7196,0.244935,0.263812,0.836261,0.916667,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2628,0.066096,0.561245,0.452218,0.916667,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
7463,0.038152,0.695340,0.335814,0.083333,0,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2248,0.110965,0.611264,0.175350,0.083333,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
896,0.391858,0.624567,0.693361,0.291667,0,0,1,0,0,0,...,1,0,0,0,1,0,0,1,0,0
6359,0.354248,0.618055,0.223578,0.083333,0,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [60]:
# Training the model
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
params = {'weights':['uniform','distance'],
         'n_neighbors':[3,5,7,9,13,21]}
knn = KNeighborsRegressor()



model = GridSearchCV(knn, params, cv=5)
model.fit(X_train,y_train)

model.cv_results_

{'mean_fit_time': array([0.26600404, 0.1890028 , 0.14650207, 0.13600216, 0.13750215,
        0.13700218, 0.135502  , 0.13600221, 0.13500199, 0.13650212,
        0.13700209, 0.13200197]),
 'std_fit_time': array([0.0533066 , 0.0147142 , 0.00751674, 0.00122477, 0.00570097,
        0.00100002, 0.00244953, 0.00200008, 0.0038731 , 0.00122473,
        0.00430119, 0.00099998]),
 'mean_score_time': array([0.51350789, 0.37150578, 0.33100519, 0.31300478, 0.34000521,
        0.33200507, 0.34750538, 0.34900522, 0.38700595, 0.38800602,
        0.47750731, 0.44900684]),
 'std_score_time': array([0.03733679, 0.0203473 , 0.01178996, 0.02497045, 0.00758308,
        0.0125899 , 0.01596909, 0.01593761, 0.02181764, 0.01088595,
        0.02067639, 0.01007488]),
 'param_n_neighbors': masked_array(data=[3, 3, 5, 5, 7, 7, 9, 9, 13, 13, 21, 21],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_weights': masked_array(data=['uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'n_neighbors': 3, 'weights': 'uniform'},
  {'n_neighbors': 3, 'weights': 'distance'},
  {'n_neighbors': 5, 'weights': 'uniform'},
  {'n_neighbors': 5, 'weights': 'distance'},
  {'n_neighbors': 7, 'weights': 'uniform'},
  {'n_neighbors': 7, 'weights': 'distance'},
  {'n_neighbors': 9, 'weights': 'uniform'},
  {'n_neighbors': 9, 'weights': 'distance'},
  {'n_neighbors': 13, 'weights': 'uniform'},
  {'n_neighbors': 13, 'weights': 'distance'},
  {'n_neighbors': 21, 'weights': 'uniform'},
  {'n_neighbors': 21, 'weights': 'distance'}],
 'split0_test_score': array([0.42936778, 0.41887134, 0.44908078, 0.45388315, 0.47207558,
        0.47664058, 0.47083411, 0.48105945, 0.45046591, 0.47728659,
        0.4016957 , 0.45253432]),
 'split1_test_score': array([0.40433804, 0.40061422, 0.45518645, 0.45881601, 0.46768264,
        0.47841417, 0.46086329, 0.47991781, 0.44351085, 0.47598363,
        0.3919468 , 0.44939048]),
 'split2_test_score': array([0.44140855, 0.43503881, 0.49600797, 0.49353173, 0.49701375,
        0.50607354, 0.49083667, 0.50819667, 0.46712028, 0.49992304,
        0.41791529, 0.47163579]),
 'split3_test_score': array([0.3987038 , 0.38992842, 0.44780008, 0.44298372, 0.46033947,
        0.46062695, 0.46938259, 0.47264787, 0.45913198, 0.47535784,
        0.43517843, 0.46746167]),
 'split4_test_score': array([0.45822182, 0.44512423, 0.49325835, 0.49336362, 0.50116606,
        0.50736487, 0.50408305, 0.51587167, 0.48576542, 0.51175492,
        0.42687501, 0.48262567]),
 'mean_test_score': array([0.426408  , 0.41791541, 0.46826672, 0.46851564, 0.4796555 ,
        0.48582402, 0.47919994, 0.49153869, 0.46119889, 0.48806121,
        0.41472225, 0.46472959]),
 'std_test_score': array([0.02236292, 0.02057692, 0.02168979, 0.0209919 , 0.01635804,
        0.01815591, 0.01585675, 0.01715403, 0.01463498, 0.01500287,
        0.01590442, 0.0123243 ]),
 'rank_test_score': array([10, 11,  7,  6,  4,  3,  5,  1,  9,  2, 12,  8], dtype=int32)}

In [61]:
print(model.best_params_,"  ",model.best_score_,"   ",model.best_estimator_)

{'n_neighbors': 9, 'weights': 'distance'}    0.4915386949433085     KNeighborsRegressor(n_neighbors=9, weights='distance')

In [62]:
predicted_y=model.predict(X_test)

In [63]:
from sklearn.metrics import r2_score
print("accuracy of model ", r2_score(y_test, predicted_y))

accuracy of model  0.43312696593652544

#### KNN is prety bad here

### Decision tree

In [64]:
from sklearn.tree import DecisionTreeRegressor
# create a regressor object
regressor= DecisionTreeRegressor(random_state=0,max_depth=3)
regressor.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=3, random_state=0)

In [65]:
print(regressor.feature_importances_)

[0.         0.50779205 0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.1262236  0.         0.         0.         0.         0.
 0.         0.         0.36598435 0.         0.         0.        ]

In [66]:
predicted_y=model.predict(X_test)

In [67]:
from sklearn.metrics import r2_score
print("accuracy of model ", r2_score(y_test, predicted_y))

accuracy of model  0.43312696593652544

### Random forest

In [68]:
from sklearn.ensemble import RandomForestRegressor
random=RandomForestRegressor(n_estimators=50)
random.fit(X_train,y_train)

RandomForestRegressor(n_estimators=50)

In [73]:
y_predicted=random.predict(X_test)

In [74]:
print("accuracy of model ", r2_score(y_test, y_predicted))

accuracy of model  0.5120556275339878